.gradient-background {
    background: linear-gradient(300deg,rgb(182, 244, 146), rgb(51, 139, 147));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .nav-link{
    color: white;
  }

  .icon{
    width: 50px;
  }
  .container-recensioni{
    background-color: rgb(153, 224, 153);
  }
  .nav-link{
    font-size: 20px
  }
  .name{
    font-size: 45px;
  }
  .laigueglia{
    height: 300px;
    float: left;
  }
  .container2{
    background-color: rgb(210, 250, 210);
  }
  .d-grid{
    margin-bottom: 10px;
  }
  .d-block{
    width: 1000px;
  }
  .bi{
  background-color: rgb(153, 224, 153);
  }
  .fw-light{
    font-size: 50px;
    color: rgb(99, 206, 99);
  }
  .container-gallery{
    background: linear-gradient(300deg,rgb(196, 235, 174), rgb(120, 213, 221));
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
.container-eventi{
  height: 100vh;
  background: linear-gradient(
    white 0%
    white 50%
    rgb(99, 206, 99) 50%
    rgb(99, 206, 99) 100%
  );
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container-eventi {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}